.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.Top {
  width: 100%;
  min-height: 25vh;
  background-color: #fff;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;        
  justify-content: center; 
  align-items: center;     
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.content-wrapper {
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column; 
  justify-content: flex-start; 
}

.content-wrapper::before,
.content-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  width: 10%;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-wrapper::before {
  left: calc(-100px); 
  background-image: url('./veggies.png'); 
}

.content-wrapper::after {
  right: calc(-100px);
  background-image: url('./veggies.png');
}

body {
  background-color: #f8f2e3;
}

button {
  background-color: #FFA500;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #ddd;
  width: 300px;
  font-size: 24px;
  background-color: #FEFDF9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.kitchen-basic {
  padding: 15px;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #4fbacf;
}

.kitchen-basic:hover {
  background-color: #96cde5;
  color: white;
  font-weight: bold;
}

.kitchen-basic::after {
  content: ' ✖';
  color: #c80700;
  font-weight: bold;
}

.sidebar-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .Top {
    flex-direction: column;
    text-align: center;
  }

  .content-wrapper {
    padding: 0 10px;
  }

  .content-wrapper::before, .content-wrapper::after {
    display: none;
  }

  button {
    font-size: 18px; 
    padding: 10px 20px;
  }

  input[type="text"] {
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
  }

  .kitchen-basic {
    font-size: 18px;
    padding: 10px;
  }

  .App {
    padding: 20px 0;
  }
}

/* Adjustments for devices with widths up to 480px */
@media (max-width: 480px) {
  .Top img {
    width: 200px; /* Adjust logo size for smaller screens */
  }

  input[type="text"], button {
    font-size: 16px; /* Make text slightly smaller for ease of reading */
    padding: 8px 16px; /* Adjust padding for comfort */
  }

  .kitchen-basic {
    font-size: 16px; /* Make kitchen basic tags smaller */
    padding: 8px; /* Adjust padding for smaller display */
    margin: 4px; /* Reduce margin to save space */
  }

  /* Adjust the overall padding and margin for elements to better fit small screens */
  .App, .Top, .container, .content-wrapper {
    padding: 10px 5px; /* Reduce padding */
  }

  /* Ensure that elements do not stretch too much or become too small */
  .App {
    max-width: 100%; /* Prevent the app from exceeding the width of small devices */
  }
}

/* Consider adding additional styles for very small or large screens */
@media (max-width: 320px) {
  /* Further reduce sizes and spacings for very small screens */
  input[type="text"], button, .kitchen-basic {
    font-size: 14px;
  }
}

/* For landscape orientation */
@media (max-height: 480px) and (orientation: landscape) {
  /* Adjust sizes and layouts for landscape orientation on small devices */
  .Top, .container, .content-wrapper {
    flex-direction: row; /* Change direction to row for landscape view */
    padding: 5px; /* Adjust padding for tighter spaces */
  }

  .Top img {
    display: none; /* Consider hiding the logo if it takes too much space */
  }
}