.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.Top {
  width: 100%;
  min-height: 25vh;
  background-color: #fff;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;        /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}

.content-wrapper {
  min-height: 100vh; /* This will make the content-wrapper at least the height of the viewport */
  display: flex;
  width: 100%;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align children to the start of the flex container */
}

.content-wrapper::before,
.content-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  width: 10%;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-wrapper::before {
  left: calc(-100px); /* Adjust based on the width of the side images and desired spacing */
  background-image: url('./veggies.png'); /* Left image path */
}

.content-wrapper::after {
  right: calc(-100px);
  background-image: url('./veggies.png');
}

body {
  background-color: #f8f2e3;
}

button {
  background-color: #FFA500;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #ddd;
  width: 300px;
  font-size: 24px;
  background-color: #FEFDF9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.kitchen-basic {
  padding: 15px;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #4fbacf;
}

.kitchen-basic:hover {
  background-color: #96cde5;
  color: white;
  font-weight: bold;
}

.kitchen-basic::after {
  content: ' ✖';
  color: #c80700;
  font-weight: bold;
}

.sidebar-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Global styles remain the same */

@media (max-width: 768px) {
  .Top {
    flex-direction: column;
    text-align: center;
  }

  .content-wrapper {
    padding: 0 10px;
  }

  .content-wrapper::before, .content-wrapper::after {
    display: none; /* Hide side images on smaller screens */
  }

  button {
    font-size: 18px; /* Smaller font size for buttons */
    padding: 10px 20px;
  }

  input[type="text"] {
    width: 100%; /* Full width for smaller screens */
    margin: 10px 0; /* Adjust margins */
    font-size: 18px; /* Adjust font size */
  }

  .kitchen-basic {
    font-size: 18px; /* Smaller font size for kitchen basics */
    padding: 10px; /* Adjust padding */
  }

  .App {
    padding: 20px 0; /* Add some padding on top and bottom */
  }
}

/* You might need additional media queries for different ranges,
   For example, for very small devices like phones in portrait mode: */
@media (max-width: 480px) {
  /* Further adjustments for smaller screens */
}
