.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  color: #333;
}

body {
  background-color: #fff2e9;
}

.Top {
  background-color: white;
  padding: 20px;
  margin: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #ddd;
  width: 300px;
  font-size: 24px;
  background-color: #FEFDF9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.kitchen-basic {
  padding: 15px;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #4fbacf;
}

.kitchen-basic:hover {
  background-color: #96cde5; /* Light grey background on hover */
  color: white; /* Change text color on hover */
  font-weight: bold;
}

.kitchen-basic::after {
  content: ' ✖'; /* Adds a 'delete' cross symbol after the item */
  color: #c80700;
  font-weight: bold;
}
